body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffb6b9;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}

header .header-layout {
  /* background-color: blue; */
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-logo {
  height: 50px;
}

.menu-frame {
  /* background-color: aqua; */
  min-width: 20%;
  height: 70%;
  display: flex;
  justify-content: space-around ;
}


main {
  width: 100%;
  display: flex;
  justify-content: center;
}

main .container {
  width: 80%;
  height: 100%;
  background-color: bisque;
  display: flex;
}

.side-menu {
  min-width: 30%;
  background-color: #fae3d9;
}

.content {
  min-width: 70%;
  background-color: lightpink;
}

.main-view {
  width: 100%;
  height: 500px;
  background-color: lightsalmon;
}

.recommend {
  width: 100%;
  min-height: 900px;
  background-color: #fcfcfc;
}

footer {
  background-color: #ffb6b9;
  width: 100%;
}
