body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffb6b9;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}

header .header-layout {
  /* background-color: blue; */
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-logo {
  height: 50px;
}

.menu-frame {
  /* background-color: aqua; */
  min-width: 20%;
  height: 70%;

  display: flex;
  justify-content: space-around;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}

main .container {
  width: 80%;
  height: 100%;
  background-color: rgb(206, 136, 50);
  display: flex;
}

.side-menu {
  min-width: 30%;
  background-color: #fae3d9;
  display: flex;
  justify-content: center;
}

.flame-side-menu {
  padding-top: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-items: center; */
}

.box-items {
  background: white;
  /* padding: 0px; */
  border-radius: 25px;
  width: 50%;
  display: flex;
  justify-content: center;
}

.box-items p {
  color: #ffb6b9;
  margin: 0;
  padding: 5px;
}

.content {
  min-width: 70%;
  display: flex;
  flex-direction: column;
  background-color: green;
}

.main-view {
  width: 100%;
  /* height: 500px; */
  background-color: yellow;
}

.img-knit {
  width: 100%;
}
.recommend {
  width: 100%;
  min-height: 900px;
  background-color: #FCFCFC;
  display: flex;
  flex-direction: column;
}

.frame-recommend-title {
  width: 100%;
  /* height: 30px; */
  /* background-color: chartreuse; */
  display: flex;
  justify-content: center;
}

.box-recommend-title {
  background: #61c0bf;
  /* padding: 0px; */
  border-radius: 25px;
  width: 30%;
  display: flex;
  justify-content: center;
}

.box-recommend-title p {
  color: white;
}

.frame-items {
  background-color: teal;
  /* min-height: 50px; */
  width: 100%;
}

footer {
  background-color: #ffb6b9;
  width: 100%;
  display: flex;
  justify-content: center;
}

.text-footer{
  color: white;
}
